body{
    font-family:helvetica;
    
}


button {
    background-color: #3399ff;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 5px;
    margin: 10px;
    font-size: 15px;
    outline: none;
}

.clickable:hover{
    background-color:black;
}


#MainTimeLine{
    font-size: 75px;
}

.list{
    font-size:30px;
   
}
.centerTimeLine{
    text-align:left;
}

.content{
    font-size:24px;
}
#mainBackground{
    background-color: dimgray;
}
#MainTimeLine{
    color: white;
}
a:hover{
    
}

img: {
    width:
    height:
}
